body {
    width: 46em;
    margin: 0 auto 0 auto;
    font-family: sans-serif, Verdana;
    font-size: 1em;
    text-align: justify;

}

pre:lang(python) {
    border: 0.2ex solid #006699;
    border-left: 0.5em solid #006699;
    padding-left: 1em;
    font-size: 0.95em;
    background: #FFFF99;
    overflow: auto;
    color: #000000;
    font-family: monospace;
    padding: 0.5ex 1em 0.5ex 1em;
}

pre:lang(bash) {
    border: 0.2ex solid #009900;
    border-left: 0.5em solid #009900;
    padding-left: 1em;
    font-size: 0.95em;
    background: #000000;
    overflow: auto;
    color: #ffffff;
    font-family: monospace;
    padding: 0.5ex 1em 0.5ex 1em;
}
